<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

</head>
<body style="background-color: #181D31;">
    
    <%- include('partials/navigation') %>
    
    <%- include('partials/banner') %>
    
    <%- include('partials/fProducts') %>

    <%- include('partials/footer') %>

</body>
</html>

